<div class="parkings" fusePerfectScrollbar>
    <div class="banner-imgaa">
        <img src="./assets/images/logos/banner.svg" alt="banner" title="banner">
    </div>
    <div class="row filter">
        <div class="col-3">
            <mat-form-field appearance="outline">
                <mat-label>Nome da Empresa</mat-label>
                <input matInput placeholder="Nome da empresa..." #filter>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div class="col-9 text-right">
            <!-- ADD BUTTON -->
            <!--<button routerLink="/parking/create" class="button">
                    
                </button>-->
            <a  mat-raised-button routerLink="/company/create" class="add-parking-button fuse-white mt-26 mb-18 filter-btn ">
                <span>Adicionar Empresa</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="content-card">

                <mat-table class="companys-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
                    fusePerfectScrollbar>
            
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                        <mat-cell *matCellDef="let company">
                            <p class="text-truncate">{{company.id}}</p>
                        </mat-cell>
                    </ng-container>
            
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
                        <mat-cell *matCellDef="let company">
                            <p class="text-truncate">{{company.name}}</p>
                        </mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="email"> 
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                        <mat-cell *matCellDef="let company">
                            <p class="text-truncate">{{company.email}}</p>
                        </mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="document">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>CNPJ</mat-header-cell>
                        <mat-cell *matCellDef="let company">
                            <p class="text-truncate">{{company.document | mask: '00.000.000/0000-00'}}</p>
                        </mat-cell>
                    </ng-container>
            
            
                    <!-- action Column -->
                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Ação</mat-header-cell>
                        <mat-cell *matCellDef="let company" fxHide fxShow.gt-xs>
                            <a routerLink="/company/edit/{{company.id}}">
                                <mat-icon class="edit s-24" routerLinkActive="router-link-active">edit</mat-icon>
                            </a>
                            <a class="cursor" (click)="deleteCompany(company)">
                                <mat-icon class="delete s-24" routerLinkActive="router-link-active">delete</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>
            
                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
            
                    <mat-row *matRowDef="let company; columns: displayedColumns;" class="company" matRipple>
                    </mat-row>
                </mat-table>
            
                <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            
            </div>
        </div>
    </div>
</div>